{{ partial "head.html" . }}

    <body>
        {{ partial "site-heading.html" . }}

        <div class="content-container">

            {{ $rel_url := replace .Permalink .Site.BaseURL "" }}
            {{ $taxon := index (split $rel_url "/") 0 }}

            {{ if eq $taxon "post" }}
                {{ partial "archive-list.html" . }}
            {{ else if eq $taxon "tags" }}
                {{ partial "tag-post-list.html" . }}
            {{ else }}
                <center><h1>Unknown Category</h1></center>
            {{ end }}

            {{ partial "footer.html" . }}
        </div>
    </body>

    {{ partial "scripts.html" . }}
</html>
