{{ partial "head.html" . }}

    <body>
        {{ partial "post-heading.html" . }}

        <div class="post-content content-container">
            <div class="content-wrapper">{{ .Content }}</div>

            {{ if and (eq .Type "post") (isset .Params "tags") }}
                {{ if and (.Site.Params.post_footer_tags) (gt (len .Params.tags) 0) }}
                    {{ $baseurl := .Site.BaseURL }}
                    <div class="post-content-tag-list">
                        {{ range .Params.tags }}
                            <a class="post-tag" href="{{ $baseurl }}/tags/{{ . | urlize }}">{{ . }}</a>
                        {{ end }}
                    </div>
                {{ end }}
            {{ end }}

            {{ partial "footer.html" . }}
        </div>

    </body>

    {{ partial "scripts.html" . }}
</html>
