{{ $site_author := index .Site.Author "name" }}

<div class="footer">
    <div class="copyright">© Copyright {{ .Site.LastChange.Format "2006" }}</div>
    <div class="copyright-holder">
        {{ if and (isset .Params "author") (.Params.Author) }}
            {{ .Params.Author }}
        {{ else if and (isset .Site.Params "author") (.Site.Params.author) }}
            {{ .Site.Params.author }}
        {{ else if $site_author }}
            {{ $site_author }}
        {{ end }}
    </div>
</div>
